
html, body {
    height:100%;
  } 
    body {
      font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background: url('../assets/sunset.jpg') no-repeat center center/cover;
    
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      
    }
   
    p {
      font-size: 1.3rem;
      color: rgb(11, 11, 11);
      font-weight: 500;
    }
  
    .city1 {
      font-size: 1.6rem;
      color: rgb(238, 7, 7); 
    }
  
    .cont {
      font-size: 3rem;
     
    }
    
    h1 {
      font-size: 6rem;
    }
  
    .bold {
      font-weight: 700;
    } 
  
  
   .europe {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      width: 20%;
      margin: 1rem auto;
      position: fixed; left:80px; top:300px;
      padding: 3rem;
      border-radius: 12px;
      background-color: rgba(255,255,255, 0.2);
    }
  
    .asia {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      width: 20%;
      margin: 1rem auto;
      position: fixed; left:400px; top:300px;
      padding: 3rem;
      border-radius: 12px;
      background-color: rgba(255,255,255, 0.2);
    }
  
    .africa {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      width: 20%;
      margin: 1rem auto;
      position: fixed; left:720px; top:300px;
      padding: 3rem;
      border-radius: 12px;
      background-color: rgba(255,255,255, 0.2);
    }
  
    .america {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      width: 20%;
      margin: 1rem auto;
      position: fixed; left:1040px; top:300px;
      padding: 3rem;
      border-radius: 12px;
      background-color: rgba(255,255,255, 0.2);
    }